@font-face {
	font-family: 'Socicon';
	src:  url('fonts/Socicon.eot?87visu');
	src:  url('fonts/Socicon.eot?87visu#iefix') format('embedded-opentype'),
	url('fonts/Socicon.woff2?87visu') format('woff2'),
	url('fonts/Socicon.ttf?87visu') format('truetype'),
	url('fonts/Socicon.woff?87visu') format('woff'),
	url('fonts/Socicon.svg?87visu#Socicon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="socicon-"], [class*=" socicon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Socicon' !important;
	speak: none;
	font-size:20px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.socicon-discord {
	color:#7289da;
}
.socicon-discord::before {
	content: "\e01d";
}
.socicon-twitter {
	color:#4da7de;
}
.socicon-twitter::before {
	content: "\e08d";
}
.socicon-facebook {
	color:#3e5b98;
}
.socicon-facebook::before {
	content: "\e028";
}
.socicon-linkedin {
	color:#3371b7;
}
.socicon-linkedin::before {
	content: "\e04c";
}
.socicon-instagram {
	color:#000000;
}
.socicon-instagram::before {
	content: "\e044";
}
.socicon-github {
	color:#221e1b;
}
.socicon-github::before {
	content: "\e032";
}